body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  @media screen and (max-width: 600px) {
    button .navbar-toggler {display:block;}
    header .icon {
      float: right;
      display: block;}
    }
    
    @media screen and (max-width: 600px) {
      header.responsive {position: relative;}
      header.responsive  {
        position: absolute;
        right: 0;
        top: 0;
      }
      header.responsive {
        float: none;
        display: block;
        text-align: left;
      }
    }
  
  .navbar-toggler img{
  
    width: 50px;
    
  }
  
  .modoescuro a img{
    width: 50px;
  }
   
  .modoescuro a img{
    width: 50px;
  }
  
  .modoescuro :hover{
    width: 55px;
    cursor:pointer;
    transition: all 0.3s
  }
    
  .dark-mode {
    background-color: rgb(32, 32, 32);
  }
  
  header nav .logo {
    font-family: monoton;
    font-size: 40px;
    color: rgb(189, 255, 83);
    margin-left: 10px;
  }
  
  
  header {
    color: white;
    font-size: 25px;
    background-color: rgb(43, 43, 43);
  }
  
  nav .modoescuro, .navbuttons, .logo{
    display:inline-block;
  
  }
  
  nav .modoescuro{
    float: right;
    margin-right: 10px;
  }
  
  nav #navbarSupportedContent li {
    margin-left: 30px;
  }
  
  nav #navbarSupportedContent li :hover{
    color: blueviolet;
    transition: all 0.3s;
  }
  
  
  #parte2{
    border: 1px solid #7e7e7e;
    text-align: center;
    margin: auto;
    width: 30%;
    padding: 10px;
    border-radius: 10px;  
    max-height: auto;
    min-width: 10%;
  }
  
  #parte2 h1{
    border: 1px solid #7e7e7e;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    max-height: auto;
  }
  
  #parte2 p{
    border: 1px solid #7e7e7e;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    min-height: 800px;
    max-height: auto;
    margin: auto;
  }
  
    
  
  /*Design do roda-pé*/
  footer {  
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    padding: 10px;
  
    margin-top:auto ;
  }
  
  /* Espaço entre links do roda-pé*/
  footer a{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  footer a :hover{
    color: blueviolet;
    transition: all 0.3s;
  }
  
  /*Links visitados não alterados após clique*/
  a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: dashed;
  }
  
  /* Calculadora */
  
  .containerCalc {
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calculator{
    background-color: #eae4d3;
    padding: 3vh 3vh 3vh 3vh;
    border-radius: 1rem;
  }
  
  #display {
    background-color: #fdf8fd;
    padding: 15px;
    border-radius: 0.5rem;
    text-align: right;
    height: 5vh;
    margin: 0.5rem;
  }
  
  .calculatorButtons{
    width: 4rem;
    height: 3rem;
    border: none;
    margin: 0.3rem;
    border-radius: 0.5rem;
    background-color: #fef9ff;
    box-shadow: 0 4px #cac5b6;
    text-align: center;
  }
  
  .calculatorButtons:active {
    transform: translateY(0.1vh);
    box-shadow: 0 2px #cac5b6;
  }
  
  #cleanDisplay, #deleteDigit, #division, #multiplication, #subtraction, #sum, #result{
    background-color: #928686;
    color: #fdfffc;
  }
  
  #result{
    height: 6.8rem;
  }
  
  #num0{
    width: 8.7rem;
  }
  
  /* Modal Calculadora */
  
  .modalCalc {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content-calc {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  
.dark-mode h1{
  color: white;
}
