.nomedalista{
color: black  ;
text-align: center;
font-size:4rem;
background-color: rgb(131, 125, 125);
border-radius: 50px;

/*'alimentaçao'*/
}

html, body {
  height: 100%;
}
body {/*posiçao da imagem,não mexe*/
  background-color: white;
  background-image: url(../imgs/lista-expandida.png);
 
  background-repeat: no-repeat;
  background-position: top;
  
}
    
.topo{
  font-size:50px; /*margem mais clarinha*/
  background-color: rgb(185, 174, 174);
  border-radius: 30px;
  opacity: 80%;
  border-radius: 50px;
  
}
 


  
 
  
  
  .div1{
  font-size: 2;
  margin-block-end: 100%;

}

  


#parte2{
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 70px;
 
   
}
 
  
  