
.dark-mode {
  background-color: rgb(32, 32, 32);
}


 .dark-mode, .breadcrumb-item.active {
color: white;
}


.dark-mode .table{
color: #ffffff;

}




@media only screen and (max-width: 950px) {
  #parte2 .form-group {
    width: 100%;
    display: inline-block;
  
    }
  }

@media only screen and (max-width: 950px) {
 .grafico .container-a{
   width: 100%;
   display: inline-block;
    }
  }
  
@media only screen and (max-width: 950px) {
  .grafico .container-b{
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  .grafico .container-c{
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte3 .container {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte4 .container {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte5 .container {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte6 .container {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte7 .container {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte3 .right  {
    width: 100%;
    display: inline-block;
   }
  }

@media only screen and (max-width: 950px) {
  #parte4 .right  {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
   #parte5 .right  {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte6 .right  {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte7 .right  {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte3 .left {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte4 .left {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte5 .left {
    width: 100%;
    display: inline-block;
     }
  }

 @media only screen and (max-width: 950px) {
  #parte6 .left {
    width: 100%;
    display: inline-block;
     }
  }

 @media only screen and (max-width: 950px) {
    #parte7 .left {
    width: 100%;
    display: inline-block;
      }
  }

 @media only screen and (max-width:950px) {
  .container .right {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #despesa {
    width: 100%;
    display: inline-block;
    }
  }


.conteúdo{ /*lista de gastos(titulo)*/
  color: black;
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 90px;  
}


#logout {
  background-color: #f44336; 
  color: white;
  border: none; 
  padding: 10px 20px; 
  cursor: pointer;
  border-radius: 50px;
}

#logout:hover {
  background-color: #d32f2f; 
}



#parte2{
  
  
  width: 90%;
  padding: 15px;
  border-radius: 5px;  
  max-height: auto;
  min-width: 300px;
  background-color: #7e7e7e;
  border-radius: 10px;
}

#parte2 h1{
  border: 0px solid #7e7e7e;
  margin-bottom: 20px;

}

#parte2 h2{
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  
}

.imagemfundo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.imagemfundo img{
  width: 80%;
  height: 80%;
  opacity: 0.8;
}



.container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.container .left {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin-right: 10px;
  justify-self: start;
}

.container .right {
  display: flex;
  justify-content: center;
  width: 1500px;
  justify-self: end;
}

.container-a {
  display: grid;
  grid-template-columns: auto auto auto;
}

.container-b {
  display: grid;
  grid-template-columns: auto auto auto;
}

.container-c {
  display: grid;
  grid-template-columns: auto auto auto;
}

#parte3{
 padding: 10px;
 margin: 2px;
 border-radius: 10px;
 display: flex;
 justify-content: center;
 background-color:#7e7e7e;
 width: 90%;
 margin-left: auto ;
 margin-right: auto;
}

#parte3 h2{
 background-color: #ffffff;
 width: 100%;
 margin: 30px;
 text-align: center;
 padding-left: 2px;
 font-size: 40px;
 border-radius: 90px;
}

.left{
  background-color:  #7e7e7e;
  border-radius: 10px;
  width: 100%;
  margin-right: 10px;
}

.right{
  background-color: #7e7e7e;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  border-radius: 10px;
  min-width: auto;
  margin-left: 20px;
}

#Despesa {
  background-color: #7e7e7e;
  width: 100%;
  display: flex;
  border-radius: 10px;
  min-width: auto;
  justify-content: center;
}

#parte3 .valordespesa{
  width: 200px;
  text-align: left;
  padding-left: 2px;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px;
  margin-right: 100px;
}

#parte3 p{
  background-color: #ffffff;
  width: 200px;
  text-align: left;
  padding-left: 2px;
  border-radius: 90px;
  margin: 10px;
}

#parte3 .valornumero{
  width: 100%;
  text-align: left;
  padding-left: 2px;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px;
}

#parte4{
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #7e7e7e;
  width: 90%;
  margin-left: auto ;
  margin-right: auto;
}
      
#parte4 h2{
 background-color: #ffffff;
 width: 100%;
 margin: 30px;
 text-align: center;
 padding-left: 2px;
 font-size: 40px;
 border-radius: 90px;
}
      
#parte4 .valordespesa{
 width: 200px;
 text-align: left;
 padding-left: 2px;
 font-size: 22px;
 border-radius: 10px;
 margin: 10px;
 margin-right: 100px;
}

#parte4 p{
  background-color: #ffffff;
  width: 200px;
  text-align: left;
  padding-left: 2px;
  border-radius: 90px;
  margin: 10px;
}

#parte4 .valornumero{
  width: 100%;
  text-align: left;
  padding-left: 2px;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px;
}

#parte5{
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #7e7e7e;
  width: 90%;
  margin-left: auto ;
  margin-right: auto;
}
        
#parte5 h2{
  background-color: #ffffff;
  width: 100%;
  margin: 30px;
  text-align: center;
  padding-left: 2px;
  font-size: 40px;
  border-radius: 90px;
}
        
#parte5 .valordespesa{
  width: 200px;
  text-align: left;
  padding-left: 2px;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px;
  margin-right: 100px;
}

#parte5 p{
  background-color: #ffffff;
  width: 200px;
  text-align: left;
  padding-left: 2px;
  border-radius: 90px;
  margin: 10px;
}

#parte5 .valornumero{
  width: 100%;
  text-align: left;
  padding-left: 2px;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px;
}

#parte6{
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #7e7e7e;
  width: 90%;
  margin-left: auto ;
  margin-right: auto;
}
        
#parte6 h2{
  background-color: #ffffff;
  width: 100%;
  margin: 30px;
  text-align: center;
  padding-left: 2px;
  font-size: 40px;
  border-radius: 90px;
}
        
#parte6 .valordespesa{
  width: 200px;
  text-align: left;
  padding-left: 2px;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px;
  margin-right: 100px;
}

#parte6 p{
  background-color: #ffffff;
  width: 200px;
  text-align: left;
  padding-left: 2px;
  border-radius: 90px;
  margin: 10px;
}

#parte6 .valornumero{
  width: 100%;
  text-align: left;
  padding-left: 2px;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px;
}

#parte7{
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #7e7e7e;
  width: 90%;
  margin-left: auto ;
  margin-right: auto;
  margin-bottom: 10px;
}
        
#parte7 h2{
  background-color: #ffffff;
  width: 100%;
  margin: 30px;
  text-align: center;
  padding-left: 2px;
  font-size: 40px;
  border-radius: 90px;
}
        
#parte7 .valordespesa{
  width: 200px;
  text-align: left;
  padding-left: 2px;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px;
  margin-right: 100px;
}

#parte7 p{
  background-color: #ffffff;
  width: 200px;
  text-align: left;
  padding-left: 2px;
  border-radius: 90px;
  margin: 10px;
}

#parte7 .valornumero{
  width: 100%;
  text-align: left;
  padding-left: 2px;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px;
}



label {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 50px;
}

input[type="number"]::placeholder {
  color: #999999;
  font-style: italic;
  padding: 4%;
  border-radius: 50%;
}






input[type="date"] {
  color: black; 
  background-color: #cccccc;
  border-radius: 50px;
  border: 1px solid black;
  border-radius: 50px; 
  border: none;
 align-items: center;
 
 
}

button[type=submit]{
  background-color:greenyellow;
  color: black;
  border-radius: 50px;
  cursor: pointer; 
  border: none;
  padding-left: 1px;
  
  
}

button[type=submit]:hover {
  background-color: purple;


}

/*botão dos valores de lista de gastos*/
.save-button {
  background-color: greenyellow; 
  color: black; 
  padding: 10px 20px;
  border: none;
  border-radius: 50px; 
  
}

.save-button:hover {
  background-color: purple; 
}


.modal-delete{
}

.modal-body{
background-color:#7e7e7e ;

}