
.dark-mode {
  background-color: rgb(32, 32, 32);
}
.dark-mode h1{
  color: black;
}

.dark-mode li{
  color: white;
}

.dark-mode label{
  color: white;
}


@media only screen and (max-width: 950px) {
  #parte2 .form-group {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
 .grafico .container-a{
   width: 100%;
   display: inline-block;
    }
  }
  
@media only screen and (max-width: 950px) {
  .grafico .container-b{
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  .grafico .container-c{
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte3 .container {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte4 .container {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte5 .container {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte3 .right  {
    width: 100%;
    display: inline-block;
   }
  }

@media only screen and (max-width: 950px) {
  #parte4 .right  {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
   #parte5 .right  {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte3 .left {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte4 .left {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #parte5 .left {
    width: 100%;
    display: inline-block;
     }
  }

 @media only screen and (max-width:950px) {
  .container .right {
    width: 100%;
    display: inline-block;
    }
  }

@media only screen and (max-width: 950px) {
  #despesa {
    width: 100%;
    display: inline-block;
    }
  }

/*.nav-item{
  position: relative;
  left: 800px;
*//* Alinhamento do cabeçalho a direita, ver como vamos fazer.*/

.form-group{
  display: flex;
  justify-content: space-evenly;
  border: 5px;
}

.form-group h2{
  background-color: #ffffff;
  width:300px;
  border-radius: 90px;
  min-width: 150px;
}

.conteúdo{
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 90px;  
}

#parte2{
  border: 1px solid #7e7e7e;
  text-align: center;
  margin: 5px auto auto auto;
  width: 90%;
  padding: 15px;
  border-radius: 5px;  
  max-height: auto;
  min-width: 300px;
  background-color: #7e7e7e;
  border-radius: 10px;
}

#parte2 h1{
  border: 0px solid #7e7e7e;
  margin-bottom: 20px;
}

#parte2 h2{
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.imagemfundo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.imagemfundo img{
  width: 80%;
  height: 80%;
  opacity: 0.8;
}

.intermediaria {
  display: inline-block;
}

.grafico h1{
  display: inline-block;
  width: 5px;
  min-width: 150px;
  padding-left: 100px;
  padding-right: 100px;
}

.formulario {
  font-size: 20px;
  width: 350px;
  display: inline-block;
  padding-left: 100px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.container .left {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin-right: 10px;
  justify-self: start;
}

.container .right {
  display: flex;
  justify-content: center;
  width: 1500px;
  justify-self: end;
}

.container-a {
  display: grid;
  grid-template-columns: auto auto auto;
}

.container-b {
  display: grid;
  grid-template-columns: auto auto auto;
}

.container-c {
  display: grid;
  grid-template-columns: auto auto auto;
}

#parte3{
 padding: 10px;
 margin: 2px;
 border-radius: 10px;
 display: flex;
 justify-content: center;
 background-color:#7e7e7e;
 width: 90%;
 margin-left: auto ;
 margin-right: auto;
}

#parte3 h2{
 background-color: #ffffff;
 width: 100%;
 margin: 30px;
 text-align: center;
 padding-left: 2px;
 font-size: 40px;
 border-radius: 90px;
}

.left{
  background-color:  #7e7e7e;
  border-radius: 10px;
  width: 100%;
  margin-right: 10px;
}

.right{
  background-color: #7e7e7e;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  border-radius: 10px;
  min-width: auto;
  margin-left: 20px;
}

#Despesa {
  background-color: #7e7e7e;
  width: 100%;
  display: flex;
  border-radius: 10px;
  min-width: auto;
  justify-content: center;
}

#parte3 .valordespesa{
  width: 200px;
  text-align: left;
  padding-left: 2px;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px;
  margin-right: 100px;
}

#parte3 p{
  background-color: #ffffff;
  width: 200px;
  text-align: left;
  padding-left: 2px;
  border-radius: 90px;
  margin: 10px;
}

#parte3 .valornumero{
  width: 100%;
  text-align: left;
  padding-left: 2px;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px;
}

#parte4{
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #7e7e7e;
  width: 90%;
  margin-left: auto ;
  margin-right: auto;
}
      
#parte4 h2{
 background-color: #ffffff;
 width: 100%;
 margin: 30px;
 text-align: center;
 padding-left: 2px;
 font-size: 40px;
 border-radius: 90px;
}
      
#parte4 .valordespesa{
 width: 200px;
 text-align: left;
 padding-left: 2px;
 font-size: 22px;
 border-radius: 10px;
 margin: 10px;
 margin-right: 100px;
}

#parte4 p{
  background-color: #ffffff;
  width: 200px;
  text-align: left;
  padding-left: 2px;
  border-radius: 90px;
  margin: 10px;
}

#parte4 .valornumero{
  width: 100%;
  text-align: left;
  padding-left: 2px;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px;
}

#parte5{
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #7e7e7e;
  width: 90%;
  margin-left: auto ;
  margin-right: auto;
}
        
#parte5 h2{
  background-color: #ffffff;
  width: 100%;
  margin: 30px;
  text-align: center;
  padding-left: 2px;
  font-size: 40px;
  border-radius: 90px;
}
        
#parte5 .valordespesa{
  width: 200px;
  text-align: left;
  padding-left: 2px;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px;
  margin-right: 100px;
}

#parte5 p{
  background-color: #ffffff;
  width: 200px;
  text-align: left;
  padding-left: 2px;
  border-radius: 90px;
  margin: 10px;
}

#parte5 .valornumero{
  width: 100%;
  text-align: left;
  padding-left: 2px;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px;
}

#parte6{
  padding: 20px;
  margin: 5px;
  border-radius: 90px;
  margin-top: 30px;
  margin-bottom: -30px;

}

.add-item {
  background-color: darkgray;
  padding: 15px;
  margin: 10px;
  border-radius: 90px;
  opacity: 90%;
  display: flex;
  justify-content: center;
}
   
.add-item button {
  border-radius:50px;
  width: 100%;
  border: none;
  font-size: 24px;
  height: 50px;
}