 h1{/*'alimentaçao'*/
color: black  ;
text-align: center;
font-size:4rem;
background-color: rgb(131, 125, 125);
border-radius: 50px;
}


 h2 {
background-color: whitesmoke;
font-size: 25px;
border-radius: 50px;
}

body {/*posiçao da imagem,não mexe*/
  background-color: white;
  background-image: url(../imgs/lista-expandida.png);
  background-repeat: no-repeat;
  background-position: top;
}

main{
padding:16px;

}

.food-values {
  font-size: 50px; /*margem mais clarinha*/
  background-color: rgb(185, 174, 174);
  border-radius: 100%;
  opacity: 90%;
  border-radius: 50px;
  display: flex;
  padding: 16px;


  flex-direction: column;
}

.food-values section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
} 

.food-values section h2 {
  padding: 8px 16px;
} 
  
.div1{
  font-size: 2;
  margin-block-end: 100%;

}

  

.container {
  display: flex;
  grid-template-columns: auto auto;
  justify-content: space-between;

}

.left {
  justify-self: start;
}

.right {
  justify-self: end;
}





#parte3{
  background-color: #7e7e7e;
  padding: 15px;
  margin:10px;
  border-radius: 90px;
  opacity: 90%;
  }
        
  #parte3 h2{
  background-color: darkgray;
  width: 300px;
  margin: 10px;
  text-align: center;
  border-radius: 90px;
  opacity: 90%;
  }
        
  #parte3 .valordespesa{
  
  text-align: center;
  border-radius: 90px;
  opacity: 90%;
  display: flex;
  justify-content: center;
  
}



#parte4{
  background-color: #7e7e7e;
  padding: 15px;
  margin: 10px;
  border-radius: 90px;
  opacity: 90%;
  align-items: center;
 
  }
        
  #parte4 h2{
  background-color: darkgray;
  width: 300px;
  margin: 10px;
  border-radius: 90px;
  opacity: 90%;
  

  }
        
  #parte4 .valordespesa{
    display: flex;
  
  width: 200px;
  text-align: center;
  border-radius: 90px;
  opacity: 90%;
  justify-content: center;


  
}



#parte5{
  background-color: #7e7e7e;
  padding: 15px;
  margin: 10px;
  border-radius: 90px;
  opacity: 90%;
  align-items: center;
  }
        
  #parte5 h2{
  
  width: 300px;
  margin: 10px;
  text-align: center;
  border-radius: 90px;
  opacity: 90%;
  }
        
  #parte5 .valordespesa{
  background-color: darkgray;
  width: 200px;
  text-align: center;
  padding-left: 2px;
  border-radius: 90px;
  opacity: 90%;
  display: flex;
  justify-content: center;
  
}




.content{
  
  padding: 15px;
  margin: 10px;
  border-radius: 90px;
  opacity: 90%;
  align-items: center;
}

.content .food-item {
  display:flex;
  gap: 24px;
}

.food-item .title {
  flex:3;
  padding: 16px;
  border-radius: 8px;
  background-color: #7e7e7e;
  display: flex;
  align-items: center;
}

.food-item .title h2{
flex: 1;
text-align: center;
}

.food-item .values {
  flex:2;
  display: flex;
  gap: 8px;
  padding: 16px;
  background-color: #7e7e7e;
  flex-direction:column ;
  border-radius: 8px;

}

.food-item .values .value {
  display:flex;
  gap:8px;
}

.food-item .value h2 {
  flex:1;
}
        
  #parte6 h2{
  width: 300px;
  margin: 10px;
  text-align: center;
  border-radius: 90px;
  opacity: 90%;
  }
        
  #parte6 .valordespesa{
  background-color: darkgray;
  width: 200px;
  text-align: center;
  padding-left: 2px;
  border-radius: 90px;
  opacity: 90%;
  display: flex;
 justify-content: center;
  
  }
 
   

 


.add-item {
  background-color: darkgray;
  padding: 15px;
  margin: 10px;
  border-radius: 90px;
  opacity: 90%;
  display: flex;
  justify-content: center;
}
   
.add-item button {
  border-radius:50px;
  width: 100%;
  border: none;
font-size: 24px;
}
  
        
  
  
  


 
@media screen and (max-width: 520px){


}

  

  


  