*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration:none;
    color: #fff;
}

section{
    padding: 10rem 0;
    background-color: #fff;
}

.card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card{
    width: 32rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem .3rem rgba(0,0,0,0.2);
}


.Título {
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
}

#logout {
    background-color: #f44336; 
    color: white;
    border: none; 
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 50px;
  }
  
  #logout:hover {
    background-color: #d32f2f; 
  }

.Sobre {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}

@media screen and (min-width: 700px) {

    .card-wrapper{
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
    }
    .card{
        margin: 2rem;
    }
}

.dark-mode section {
    background-color: rgb(32, 32, 32);
}
.dark-mode .heading {
    color: #ebeef8;
}

section {
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.box {
    flex: 1 1 300px;
    background-color: #D6D6D6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.box img {
    width: 100%;
    max-width: 200px; 
    height: auto;
    margin-bottom: 15px;
}

.box h2 {
    margin-top: 0;
    font-size: medium;
}

.box p {
    margin-bottom: 15px;
    font-size: medium;
}

.box a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6AD753;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: medium;
}

.box a:hover {
    background-color: #5aa043; 
}


@media screen and (max-width: 768px) {
    .box {
        flex-basis: calc(50% - 20px); 
    }
}

@media screen and (max-width: 480px) {
    .box {
        flex-basis: 100%; 
    }
}
