body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin:0px;
  padding:0px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {
  button .navbar-toggler {display:block;}
  header .icon {
    float: right;
    display: block;}
  }
  
  @media screen and (max-width: 600px) {
    header.responsive {position: relative;}
    header.responsive  {
      position: absolute;
      right: 0;
      top: 0;
    }
    header.responsive {
      float: none;
      display: block;
      text-align: left;
    }
  }

.navbar-toggler img{

  width: 50px;
  
}

.modoescuro a img{
  width: 50px;
}
 
.modoescuro a img{
  width: 50px;
}

.modoescuro :hover{
  width: 55px;
  cursor:pointer;
  transition: all 0.3s
}
  
.dark-mode {
  background-color: rgb(32, 32, 32);
}

header nav .logo {
  font-family: monoton;
  font-size: 40px;
  color: rgb(189, 255, 83);
  margin-left: 10px;
}


header {
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  color: white;
  font-size: 25px;
  background-color: rgb(43, 43, 43);
  width: 100%;
}

nav .modoescuro, .navbuttons, .logo{
  display:inline-block;

}

nav .modoescuro{
  float: right;
  margin-right: 10px;
}

nav #navbarSupportedContent li {
  margin-left: 30px;
}

nav #navbarSupportedContent li :hover{
  color: blueviolet;
  transition: all 0.3s;
}
#parte1{
display: flex;

}


#parte2{
  border: 1px solid #7e7e7e;
  text-align: center;
  margin: auto;
  width: 30%;
  padding: 10px;
  border-radius: 10px;  
  max-height: auto;
  min-width: 10%;
  background-image:url(src/imgs/listaexpandida.png)  ;
}

#parte2 h1{
  border: 1px solid #7e7e7e;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  max-height: auto;
}

#parte2 p{
  border: 1px solid #7e7e7e;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  min-height: 800px;
  max-height: auto;
  margin: auto;
}

  

/*Design do roda-pé*/
footer {  
  text-align: center;
  background-color: rgb(43, 43, 43);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  margin-top:auto;
}

/* Espaço entre links do roda-pé*/
footer a{
  margin-left: 10px;
  margin-right: 10px;
}

footer a :hover{
  color: blueviolet;
  transition: all 0.3s;
}

/*Links visitados não alterados após clique*/
a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: dashed;
}