

#parte2 h1{
    border-radius: 10px;
    margin-top: 20px;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 80%;
    height: 100px;
    border: 0px solid #7e7e7e;
}
#parte2 {
    border: 1px solid #7e7e7e73;
    text-align: center;
    width: 80%;
    padding: 10px;
    border-radius: 10px;  
    max-height: auto;
    min-width: 10%;
    max-width: 500px;
}

input{
    margin-top: 20px;
}

.usuario {
    background-color: rgba(187, 187, 187, 0.365);
    margin-top: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.senha {
    background-color: rgba(187, 187, 187, 0.365);
    margin-top: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.novaSenha {
    background-color: rgba(187, 187, 187, 0.365);
    margin-top: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.confirmasenha {
    background-color: rgba(187, 187, 187, 0.365);
    margin-top: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botoes {
    background-color: darkgray;
    padding: 15px;
    margin: 10px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
}

.botao {
    background-color: #6C63FF;
    border-radius: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 10px;
    border: solid 0px rgb(131, 125, 125) ;
    width: 150px;
}

#parte2 input {
    border-radius: 12px;
    width: 100%;
}

.img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 600px) {
    #parte2-container{
        width: 100%;
        flex-direction: column;
    }    
}

footer{
    margin-top: 10px;
}

#parte1 > header > nav{
    margin-bottom: 10px;
}


.dark-mode h1{
    color: white;
  }
  