#parte2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#parte2 {
    border: 1px solid #7e7e7e73;
    text-align: center;
    width: 80%;
    padding: 10px;
    border-radius: 10px;  
    max-height: auto;
    min-width: 10%;
    max-width: 500px;
}

#parte2 h1{
    border-radius: 10px;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 80%;
    height: 100px;
    border: 0px solid #7e7e7e;
}

.botao {
    display: block;
    background-color: rgb(189, 255, 83);
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 1px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 130px;
    border: none;
}

.botao2 {
    background-color: rgb(189, 255, 83);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    width: 100%;
    max-width: 270px;
}

fieldset{
    display: block;
}

input {
    margin-bottom:20px;
}


#parte2 input {
    border-radius: 12px;
    width: 100%;
 
    
}

.senha2 {
    margin-top: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 20px;
    color: black;
}
.usuario2 {
    margin-top: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 20px;
    color: black;
}



@media screen and (max-width: 600px) {
    #parte2-container{
        width: 100%;
        flex-direction: column;
    }
    
}

footer{
    margin-top: 10px;
}

#parte1 > header > nav{
    margin-bottom: 10px;
}


.dark-mode h1{
    color: white;
  }
  
