
.dark-mode {
  background-color: rgb(32, 32, 32);
}

.dark-mode h1{
  color: white;
}

.dark-mode form h2{
  color: white;
}

.dark-mode .meses h2{
  color: white;
}

.dark-mode .breadcrumb{
  color: white;
}

#parte2{
  border: 0px solid #7e7e7e;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;  
  max-height: auto;
  min-width: 10%;
}

#parte2 h1{
  background-color: rgba(187, 187, 187, 0.365);
  border-radius: 10px;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  width: 80%;
  height: 100px;
  border: 0px solid #7e7e7e;
}

#parte2 img{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 20px;
  object-fit: cover;
  width: 80%;
  height: auto;
}

#parte2 .meses{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 80%;
  min-width: 100%;
}

#parte2 .meses a{
  display: inline-block;
  font-size: 25px;
  height: 40px;
  width: 300px;
  min-width: 30%;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  margin: auto;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 20px;
}

#parte2 .form-group{
  display: inline;
  font-size: 20px;
  height: 40px;
  width: 320px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  margin: auto;
}

form{
  background-color: rgba(187, 187, 187, 0.365);
  border-radius: 10px;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  min-width: 200px;
}

#exampleFormControlSelect1{
  display: inline;
  text-align: center;
  font-size: 25px;
  height: 40%;
  width: 70%;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  min-width: 30%;
}

.meses{
  background-color: rgba(187, 187, 187, 0.365);
  border-radius: 10px;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  min-width: 10%;
}